@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{font-family:'Rubik', sans-serif;}
.red{background-color: red;}
.blue{background-color: blue;}
.section1 {background-image: url("asset/bg-image-hero.png") ; /*image de fond*/

height:70vh ;/*hauteur de 70%*/ 
background-position: center;
background-repeat: no-repeat; 
background-size:cover; 
} 


.txt-white{color:white} /*texte en blanc*/

.supp-puces{list-style-type:none;}  /* supprimer les puces*/

a{
    text-decoration: none ;
    color: #000000 ;}
.large33{width:33% ;}

h1{ font-family: 'Rubik', sans-serif;}